.clear{clear: both;}

.tree .glyphicon{ margin-right: 0.4em; cursor: pointer;}
.glyphicon--opacity{opacity: 0.3;}

#error{display: none;}

.form-signin{
	max-width: 300px;
	padding: 27px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin-heading{margin-top: 0; margin-bottom: 17px;}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.navbar-collapse{padding: 0 20px !important;}

body{padding-top: 51px; background-color: #222;}
.content{margin-left: 225px; background: white; min-height: 500px;}
.content_inner{padding: 20px; width: 100%; box-sizing: border-box;}
.sidebar{position: absolute; width: 225px; top: 51px; left: 0; border-radius: 0; font-size: 15px;}
.sidebar .nav a{color: #999;}
.sidebar .nav a:hover{color: white; background: #222;}
.sidebar .nav .active a{background: #080808; color: white;}

.pagination__count{float: right; margin: 20px 0; margin-right: 50px;}
.pagination__count select{padding: 6px;}


.filter{padding: 15px;}


.table__bottom{margin-top: -20px;}
.table thead{background: #fafafa;}
.table__row_eye{cursor: pointer;}

.dd-right{float: right;}


.drop__zone{display: table-cell; vertical-align: middle; text-align: center; font-size: 12px; width: 150px; height: 150px; padding: 20px; border: 1px dashed #CCCCCC; border-radius: 5px; color: #333333;}
.drop__zone_wr{float: left; margin-top: 20px;}
.drop__zone--undefined{color: white; border-color: #F86F05; background: #F86F05;}
.drop__zone--drop{color: #3cce35; border-color: #3cce35;}
.drop__zone--error{color: red; border-color: red;}
.drop__zone--hover{background: #CCCCCC; border: 1px dashed #CCCCCC; color: #333333;}

.drop__file_list{margin-left: -20px; margin-top: -20px;}
.drop__file_item{float: left; font-size: 11px; width: 150px; height: 150px; padding: 20px; border: 1px solid #CCCCCC; border-radius: 5px; color: #333333; margin-top: 20px; margin-left: 20px; position: relative;}
.drop__file_item img{width: 100%; transition: all 0.4s ease-out;}
.drop__file_item--image{padding: 0; overflow: hidden;}
.drop__file_item--image:hover img{width: 120%; margin-left: -10%; margin-top: -10%;}
.drop__file_item_in{display: table-cell; vertical-align: middle; text-align: center; width: 110px; height: 110px; word-break:break-all;}
.drop__file_item_del{position: absolute; top: 5px; right: 5px; cursor: pointer; opacity: 0.6; background: white; border-radius: 10px; padding: 2px;}
.drop__file_item_del:hover{opacity: 1;}

.nav-header{padding: 10px 15px; color: #ffffff;}
.sidebar .nav-header1{color: #8ED6FF;}
.sidebar .nav-header2{color: #8EFFBC;}
.sidebar .nav-header3{color: #D5FF8E;}
.sidebar .nav-header4{color: #FFDC8E;}

.sidebar .glyphicon{margin-right: 5px;}

.content .row .col-md-8 .col-xs-6:nth-child(2n+1){clear: both;}


.seo_block{background: #E4FBE5; padding: 15px 15px; margin: 15px 0; border: 1px dashed #A5DAA7;}


.ufields{margin: 30px 0 20px 0;}
.ufields__wr{margin: 10px 0 30px 0;}
.ufields__item{margin-bottom: 10px;}
.ufields__item_inner{padding: 20px; border-radius: 5px; position: relative; background: #F2F2F2;}
.ufields__item textarea{resize: none; width: 100%; height: 200px;}
.ufields__textarea{margin-bottom: 10px;}
/*
.ufields__del{position: absolute; top: 5px; right: 5px; cursor: pointer; opacity: 0.7; color: white;}
.ufields__del:hover{opacity: 1;}
*/
.ufields__item textarea, .ufields__item input[type="text"], .ufields__item input[type="password"]{border: 0; box-shadow: inset 0px 2px 5px #C5C5C5; width: 100%; padding: 3px 5px; box-sizing: border-box; border-radius: 3px;}
.ufields__item--gag{display: none;}
.ufields__input{margin-bottom: 10px;}
